name: Build Application And Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    strategy:
      matrix:
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build with PyAppify Action
        id: build-app
        uses: ok-oldking/pyappify-action@master
        with:
          version: 'v1.0.32'

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: pyappify_dist/*
          
      - name: Create Release And Upload Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: pyappify_dist/*
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
          generate_release_notes: true
